@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
    font-family: "Rubik-Light";
    src: url("fonts/Rubik-Light.ttf");
}

body {
    color: rgb(71, 77, 80);
    font-family: 'Rubik';
    font-size: 15px;
}

h2,
.price-value {
    font-family: Poppins;
}

p {
    font-family: "Rubik-Light";
}


.light {
    font-family: "Rubik-Light";
}

.pricing-item li {
    display: -webkit-inline-box;
    position: relative;
}

i,
img,
a {
    transition: 300ms all ease;
}

a:hover i {
    transform: translateY(-0.2rem);
}

button{
    font-size: 16px;
    color: #ffffff;
    padding: 15px 30px;
    line-height: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    background-color: #19ce67;
    margin-bottom: -6px;
    font-weight: 500;
}

button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #122738;
    z-index: -1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 4px;
}

button.bg-slate-900::before{
    background-color: rgb(16 185 129);
}

button:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

.social-icon i img:hover {
    transform: translateY(-0.2rem);
}

#saviez-vous-grid .grid-item{
    transition: 300ms all ease;
}

#saviez-vous-grid .grid-item:hover{
    transform: translateY(-0.5rem);
}
.pricing-item li::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('img/icons/coche.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: -1.5rem;
}

.title::after {
    position: relative;
}

.title::after {
    content: '';
    display: block;
    width: 3rem;
    height: 2px;
    background-color: rgb(16 185 129);
    margin-left: auto;
    margin-right: auto;
    margin-top: .7rem;
}

footer a {
    display: block;
}

.footer-link a:hover {
    color: rgb(16 185 129);
    transform: translateX(.2rem);
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-carousel .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: rgb(16 185 129)
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}


.owl-nav button:focus {
    outline: none;
}